* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

#animated-text {
  font-family: 'Nunito', sans-serif;
  /* Altere para a fonte desejada */
  font-size: 2.9em;
  /* Tamanho da fonte */
  white-space: pre-wrap;
  /* Mantém quebras de linha */
  animation: caret-blink 0.7s step-end infinite;
  /* Animação do cursor */
}

@keyframes caret-blink {
  50% {
    border-color: transparent;
    /* Faz o cursor piscar */
  }
}

body {
  background: #0f1624;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(15, 22, 36, 0.9);
  backdrop-filter: blur(10px);
  z-index: 100;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  background: linear-gradient(90deg, #13ADC7 0%, #945DD6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #13ADC7;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 80px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.hero-text {
  flex: 1;
}

.hero-text h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  background: linear-gradient(90deg, #13c784 0%, #392ddd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: normal;
  /* Permite quebras de linha */
}


.hero-text p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #8892b0;
  margin-bottom: 2rem;
}

.cta-button {
  display: inline-block;
  padding: 1rem 2rem;
  background: linear-gradient(90deg, #13c784 0%, #392ddd 100%);
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.cta-button:hover {
  transform: translateY(-3px);
}

.hero-image {
  flex: 1;
  position: relative;
}

.animated-shape {
  width: 476px;
  height: auto;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

@media (max-width: 768px) {
  .hero-content {
    flex-direction: column-reverse;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 2.5rem;
  }

  .animated-shape {
    width: 300px;
    height: 300px;
  }
}